---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import ByNumber from "./ByNumber.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Our Reputation</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <ByNumber />
    </div>
  </Container>
</section>
