---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="features">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>
        Exceptional Experiences: Crafted by Our Dedicated Team of Master Barbers
      </Title>
      <Paragraph className="mt-8">
        Encounter effortless convenience and first-class service through our
        extensive lineup of offerings.
      </Paragraph>

      <!-- <Paragraph className="mt-2">
        At Local Legendz, we’re a community. We take pride in being a part of
        the Spokane community, and we’re committed to giving back. We’re always
        looking for ways to make a positive impact in our community
      </Paragraph> -->
      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          >
          <span class="font-bold text-primary">Booking Online:</span> Reserve
          your spot effortlessly with our hassle-free online booking system,
          ensuring your grooming needs are met with ease.
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          >
          <span class="font-bold text-primary"
            >House Call/Hotel Appointments:</span
          > For ultimate convenience, indulge in our exclusive house call/hotel
          appointments. Let us bring the grooming experience to your doorstep.
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          >
          <span class="font-bold text-primary"
            >Early Bird/After-Hour Appointments:</span
          >
           Busy schedule? No problem! Enjoy our flexible early bird and
          after-hour appointments tailored to fit your lifestyle, ensuring you
          always look your best on your own time."
        </li>
      </ul>
    </div>

    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>

        <img
          src={"https://images.unsplash.com/photo-1635273051427-7c2a35ce50ce?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 -rotate-12 z-20 absolute bottom-0 max-h-full rounded-xl"
        />
        <img
          src={"https://images.unsplash.com/photo-1599351431613-18ef1fdd27e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhcmJlcnxlbnwwfHwwfHx8MA%3D%3D"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 translate-x-[30px] rotate-12 absolute bottom-0 max-h-full rounded-xl"
        />
      </div>
    </div>
  </Container>
</section>
