---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Our Location</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.3892527954677!2d-117.38184299999999!3d47.657434099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549e18987bdb76e5%3A0x36a25f24ddda1036!2s1917%20E%20Sprague%20Ave%2C%20Spokane%2C%20WA%2099202!5e0!3m2!1sen!2sus!4v1700119579898!5m2!1sen!2sus"
        class="rounded-3xl"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </Container>
</section>
