---
import TestimonialCard from "../cards/Testimonial.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";

import { testimonials } from "../../utils/data.ts";

type TestimonialProps = {
  title: string;
  description: string;

  image: string;
};
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>What our Clients Say</Title>
      <Paragraph>Hear It Straight from Our Customers</Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        testimonials.map((service: TestimonialProps) => {
          return (
            <TestimonialCard
              title={service.title}
              description={service.description}
              image={service.image}
            />
          );
        })
      }
    </div>
  </Container>
</section>
