---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import Navitem from "../shared/Navitem.astro";

const navItems = [
  {
    href: "#",
    text: "Home",
  },
  {
    href: "#services",
    text: "Services",
  },
  {
    href: "#about-us",
    text: "About us",
  },
  {
    href: "#features",
    text: "Features",
  },
];
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
  <Container>
    <nav class="w-full flex justify-between gap-6 relative">
      <!-- logo -->
      <div class="min-w-max inline-flex relative">
        <a href="/" class="relative flex items-center gap-3">
          <svg
            class="h-10 w-10"
            viewBox="0 0 201 194"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M122.911 149.101C122.979 117.144 123 85.1661 122.974 53.1688C122.971 50.2863 122.781 48.0327 122.403 46.4079C121.328 41.7997 118.872 38.4017 115.035 36.2139C112.241 34.6212 109.761 34.3137 106.544 34.2035C106.402 34.2005 106.333 34.1316 106.336 33.997L106.365 31.3303C106.368 31.162 106.457 31.0778 106.632 31.0778L170.55 31.0595C170.594 31.0594 170.638 31.068 170.679 31.0848C170.72 31.1015 170.757 31.1261 170.788 31.157C170.819 31.1879 170.843 31.2244 170.858 31.2645C170.874 31.3045 170.881 31.3472 170.879 31.3899L170.763 33.7629C170.753 33.9526 170.648 34.0505 170.448 34.0566C163.018 34.2953 157.467 39.4772 155.655 46.0132C155.219 47.5921 154.996 50.3919 154.987 54.4126C154.932 83.7876 154.933 113.161 154.992 142.533C154.998 146.422 155.242 149.248 155.723 151.01C158.469 161.104 168.762 166.024 179.244 165.042C187.75 164.248 195.728 158.62 194.352 149.675C193.816 146.18 191.891 143.653 188.578 142.092C188.52 142.065 188.469 142.027 188.428 141.98C188.386 141.933 188.355 141.879 188.336 141.82C188.317 141.762 188.31 141.7 188.317 141.638C188.324 141.577 188.343 141.518 188.375 141.464L188.898 140.582C189.05 140.322 189.269 140.249 189.557 140.362C203.463 145.819 201.719 161.787 195.476 171.692C182.674 192.007 153.737 195.908 131.054 193.063C116.287 191.208 102.314 186.999 89.1359 180.436C80.1201 175.947 71.4288 170.944 63.062 165.427C53.1001 158.858 46.1267 154.376 42.1419 151.983C36.7847 148.766 31.6309 145.902 25.7506 144.075C16.2956 141.133 5.4311 145.195 1.56095 154.012C1.41564 154.34 1.1799 154.416 0.85375 154.242L0.345162 153.966C0.0416206 153.804 -0.0617198 153.564 0.0351552 153.246C4.75781 137.42 22.5005 129.645 38.5284 128.3C38.6187 128.292 38.7026 128.253 38.7635 128.19C38.8245 128.127 38.8581 128.045 38.8578 127.96C38.8998 91.4741 38.9079 54.9542 38.882 18.4007C38.8723 10.3868 33.7041 2.62998 24.5155 2.68506C24.3314 2.68812 24.2394 2.60245 24.2394 2.42803L24.2442 0.284568C24.2442 0.140753 24.3201 0.0673104 24.4719 0.0642505L85.6581 0C85.6984 -5.27477e-07 85.7383 0.00755161 85.7753 0.0222012C85.8124 0.0368509 85.846 0.0582985 85.874 0.0852752C85.902 0.112252 85.9239 0.144195 85.9384 0.179221C85.9529 0.214246 85.9597 0.251642 85.9584 0.289162L85.9003 2.41884C85.8971 2.61468 85.7922 2.70648 85.5855 2.69424C78.4506 2.30869 73.1903 8.30302 72.0327 14.38C71.8195 15.506 71.7114 17.5026 71.7081 20.3697C71.6888 56.6234 71.6871 92.8617 71.7033 129.085C71.7032 129.132 71.7199 129.177 71.7507 129.214C71.7815 129.251 71.8246 129.276 71.8728 129.287C89.4605 133 106.428 141.326 122.708 149.22C122.729 149.231 122.753 149.235 122.777 149.234C122.801 149.233 122.824 149.227 122.845 149.215C122.865 149.203 122.882 149.186 122.894 149.166C122.905 149.146 122.911 149.124 122.911 149.101ZM132.042 162.37C115.51 155.137 94.6336 144.355 75.3749 138.549C68.642 136.517 61.7494 135.257 54.6969 134.767C52.979 134.648 51.3385 134.658 49.7756 134.799C49.1782 134.854 49.175 134.934 49.7659 135.038C57.7807 136.442 65.4758 139.003 72.8513 142.721C86.7528 149.73 99.3805 158.643 113.224 165.758C127.445 173.065 143.614 178.628 159.627 179.477C167.674 179.905 175.297 178.638 182.494 175.676C183.05 175.447 183.026 175.332 182.422 175.332C164.878 175.332 148.205 169.443 132.042 162.37Z"
              fill="url(#paint0_linear_169_81)"></path>
            <defs>
              <linearGradient
                id="paint0_linear_169_81"
                x1="100.078"
                y1="0"
                x2="100.078"
                y2="193.888"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.244792"></stop>
                <stop offset="0.9375" stop-color="#1B3593" stop-opacity="0.43"
                ></stop>
              </linearGradient>
            </defs>
          </svg>
          <div
            class="lg:inline-flex md:inline-flex hidden text-lg font-semibold text-heading-1"
          >
            Local Legendz Barbershop
          </div>
        </a>
      </div>

      <div
        data-nav-overlay
        aria-hidden="true"
        class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
      >
      </div>
      <div
        data-navbar
        class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0"
      >
        <ul
          class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center"
        >
          {
            navItems.map((item) => {
              return <Navitem {...item} />;
            })
          }
        </ul>

        <div
          class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
        >
          <BtnLink
            text="Book Online"
            href="#cta"
            className="flex justify-center w-full sm:w-max"
            variant="primary"
          />
        </div>
      </div>

      <div class="min-w-max flex items-center gap-x-3">
        <button
          data-switch-theme
          class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 dark:flex hidden"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 dark:hidden"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            ></path>
          </svg>

          <span class="sr-only">switch theme</span>
        </button>

        <button
          data-toggle-nav
          data-open-nav="false"
          class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
        >
          <span
            id="line1"
            class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"
          ></span>
          <span
            id="line2"
            class="w-6 origin-center mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"
          ></span>
          <span
            id="line3"
            class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"
          ></span>
          <span class="sr-only">togglenav</span>
        </button>
      </div>
    </nav>
  </Container>
</header>
